$main-color:#201E43;
$element-color:#134B70;
$text-color:#508C9B;
$subtext-color:#36C2CE;
$error-color:#EEEEEE;


body{
    background-color: $main-color;
    margin: 3rem 6rem;
}

.head,
h4 
{
    color:$text-color
}

.cont{
    display: flex;
    flex-direction: column;
}

.searchdiv{
    display: flex;
    text-align: center;
 border-radius: 15px;
}

.head,
label,
input
{
    display: block;    
    margin: 10px auto;
}

.search{
    color: $subtext-color;
}

.searchdiv{
    display: inline-block;
    background-color: $element-color;
}

#debug{
    color: red;
    text-align: center;
    margin: 15px;
}

#dtext{
    padding: 15px 0;
    border: 1px $subtext-color solid;
    border-radius: 4px;
}